{% extends "myapp/base.html" %} {% load static %} {% block content %}
<h2>Add New Item</h2>

{% if error %}
<p style="color: red">{{ error }}</p>
{% endif %}

<form method="POST" action="{% url 'items' %}" enctype="multipart/form-data">
  {% csrf_token %}

  <label>Name:</label>
  <input type="text" name="name" required /><br />

  <label>Quantity:</label>
  <input type="number" name="quantity" required /><br />

  <label>Tag:</label>
  <input type="text" name="tag" required /><br />

  <label>Image:</label>
  <input type="file" name="image" accept="image/*" required /><br /><br />

  <button type="submit">Create Item</button>
</form>
{% endblock %}
